<%- include('partials/header') -%>
    <div class="container-fluid">
        <main class="tm-main">
            <!-- Search form -->
            <div class="row tm-row">
                <div class="col-12">
                    <form method="GET" class="form-inline tm-mb-80 tm-search-form">
                        <input class="form-control tm-search-input" name="query" type="text" placeholder="Search..." aria-label="Search">
                        <button class="tm-search-button" type="submit">
                            <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>
            </div>
            <div class="row tm-row">
                <div class="col-12">
                    <hr class="tm-hr-primary tm-mb-55">

                    <img src="/img/<%= post.img %>" class="img-responsive responsive pb-5" alt="" style="width:100%;height:auto;">
                </div>
            </div>
            <div class="row tm-row">
                <div class="col-lg-8 tm-post-col">
                    <div class="tm-post-full">
                        <div class="mb-4">
                            <h2 class="pt-2 tm-color-primary tm-post-title">
                                <%= post.heading%>
                            </h2>
                            <p class="tm-mb-40">
                                <%= post.date %>, by
                                    <%= post.author %>
                            </p>
                            <p style="white-space: pre-wrap;">
                                <%= post.message %>
                            </p>

                        </div>

                        <!-- Comments -->
                        <div class="pt-5 mt-5 pb-5 mb-5">
                            <h2 class="tm-color-primary tm-post-title">Comments</h2>
                            <hr class="tm-hr-primary tm-mb-45">

                            <%  post.comments.forEach(function(comment){ %>
                                <div class="tm-comment tm-mb-45">
                                    <figure class="tm-comment-figure">
                                        <!-- <img src="img/comment-1.jpg" alt="Image" class="mb-2 rounded-circle img-thumbnail"> -->
                                        <figcaption class="tm-color-primary text-center">
                                            <%=comment.cAuthor%>
                                        </figcaption>
                                    </figure>
                                    <div>
                                        <p class="container">
                                            <%=comment.cMsg%>
                                        </p>
                                        <div class="d-flex justify-content-between">
                                            <span class="tm-color-primary m-3"><%=comment.cDate  %></span>
                                            <a href="#" class="tm-color-primary m-3">REPLY</a>
                                            <a href="#" class="tm-color-primary m-3">Delete</a>

                                        </div>
                                    </div>
                                </div>
                                <% })%>
                                    <form action="/singlepost/<%=post.heading%>" class="mb-5 tm-comment-form" method="post">
                                        <h2 class="tm-color-primary tm-post-title mb-4">Your comment</h2>
                                        <div class="mb-4">
                                            <input class="form-control" placeholder="Name *" name="name" type="text">
                                        </div>
                                        <div class="mb-4">
                                            <input class="form-control" placeholder="Email *" name="email" type="text">
                                        </div>
                                        <div class="mb-4">
                                            <textarea class="form-control" placeholder=" Message *" name="message" rows="6"></textarea>
                                        </div>
                                        <div class="text-right">
                                            <button class="tm-btn tm-btn-primary tm-btn-small">Submit</button>
                                        </div>
                                    </form>
                        </div>
                    </div>
                </div>
                <aside class="col-lg-4 tm-aside-col">
                    <div class="tm-post-sidebar">
                        <hr class="mb-3 tm-hr-primary">
                        <h2 class="mb-4 tm-post-title tm-color-primary">Tags:</h2>
                        <ul class="tm-mb-75 pl-5 tm-category-list">
                            <%  post.tags.forEach(function(tag){ %>
                                <li>
                                    <a href="#" class="tm-color-primary">
                                       # <%=tag %>
                                    </a>
                                </li>

                                <% })%>
                        </ul>
                        <hr class="mb-3 tm-hr-primary">

                    </div>
                </aside>
            </div>
            <%- include('partials/footer') -%>